<div class="jumbotron">
  <%= image_tag "Uros_Petrovic01.jpg"%><h1>Урош Петровић</h1>
   <p>
     Од 1975. године живи у Београду. Аутор је романа фантастике и загонетних прича. Карактеристичан је по иновативном приступу књижевности за децу и младе. Објављивао приче, чланке, песме, илустрације и фотографије у већем броју летописа, дневних новина, часописа и антологија. Од 2008. до 2013. председник Менсе Србија. Оснивач Менсиног светског фото купа. Коаутор је програма "НТЦ Систем учења", који подстиче развој функционалног знања и креативног начина размишљања, гостује као предавач на факултетима, у школама и другим образовним установама у земљи и иностранству.
    </p>
</div>
