<div class="row books">
   <% @knjige.each_with_index do |book,i| %>  
     <% if i % 6 == 0 && i != 0 %>
       </div>
       <div class="row"> 
     <% end %>
     <div class="col-xs-12 col-md-2 colthum ">
       <a href="<%=book.link%>"  class="booklinks" >
         <%= image_tag book.image %>
       </a>

     </div>
   <% end %>
</div>
