<div class="martabutton">
  <%= link_to "Sign in with Facebook", "/auth/facebook",:class => "btn-lg btn-primary mbtn" %>
  <%= link_to "Sign as guest", "/guest", :class => "btn-lg btn-primary mbtn" %>
</div>
