<div class="martabutton">
  <div class="row login"> 
    <div class="col-md-6"> 
     <%= button_to "Sign in with Facebook", "/auth/facebook",:class => "btn-lg btn-primary mbtn" %>
     </div>
    <div class="col-md-6"> 
     <%= button_to "Sign as guest", "/guest", :class => "btn-lg btn-primary mbtn" %>
     </div>
  </div>
  
</div>
