<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tab1" data-toggle="tab">
	Zagonetka
      </a>
    </li>
    
    <li>
      <a href="#tab2" data-toggle="tab">
	Autor
      </a>
    </li>
    <li>
      <a href="#tab3" data-toggle="tab">
	Knjige
      </a>
    </li>
    
  </ul>
</div>

