<div class="container">
  <div class="row">     
    fhdk hfkhfdskhf kfkjsdhf fsdhf fhksjadhf ahfkad
  </div>
  <div class="row main" >
    
    <div class="row bnaslov">     
      <h2 class="bmain" > MARTINA VELIKA ZAGONETNA AVANTURA </h2>
    </div>
    
    <div class"row">
      <span class="col-md-2 bleft"> 
      </span>
      <span class="col-md-8 bmiddle">
	<div class="row"> 
	  <div id="seprow0" class="row"> 
	  </div>  
	  <% if current_user %> 
	  <small><%= link_to "Sign out", signout_path %><br/></small>
	  <% end %> 
	</div>  

	<div id="seprow1" class="row">
        </div>

	<div class="row zdravo ">
          <% if current_user %>
  	    <h3 id="poruka"> <%= current_user.poruka %></h3>
          <% end %>
	</div> 

	<div class="row user_image ">
          <% if current_user %>
  	    <%= image_tag current_user.image %>  
          <% end %>
	</div> 
	
	<div id="seprow2" class="row">
        </div>

	 <% if current_user %>
	  <div class="row pitanja">
	    <button id="marta" class="btn btn-lg btn-primary bquest ">Martino pitanje <span class="glyphicon glyphicon-question-sign"></span></button>
	    <button id="klara" class="btn btn-lg btn-primary bquest ">Klarino  pitanje <span class="glyphicon glyphicon-question-sign"></span></button>
	  </div>  
	 <% else %> 
	   <%= button_to "Sign in with Facebook", "/auth/facebook",:class => "btn-lg btn-primary mbtn"  %>
         <% end %> 
      </span> 
      <span class="col-md-2 bright"> 
      </span> 
    </div>
  </div>
</div>
