<div class="container-fluid ball">
  <div class="row bmain">
    <span class="col-md-2 bleft"> 
    </span>
    <span class="col-md-8 bmiddle">
      <%= render partial: "bnaslov" %>
      <%= render partial: "middlecol" %>	
    </span> 
    <span class="col-md-2 bright">
    </span> 
  </div>
</div>

