function showBadAnswer(){
    var $textAndPic = $('<div id="dialog-body"></div>');
        $textAndPic.append("<h2>Razmislite ponovo o pitanju!</h2><br />");
        $textAndPic.append('<%= image_tag "mojamarta.png", :id => "dlg-pic" %>');
        BootstrapDialog.show({
	    title: 'Pokušajte ponovo sutradan',
            onshown: function(dialogRef){
		    $('#okbutton').focus();
		    $("#okbutton").keyup(function(event){
			if(event.keyCode == 13){
			    $("#okbutton").click();
			}
		    });
		  },  
	    message: $textAndPic,
	    cssClass: 'pitdlg',
		buttons: [{
                    label: 'OK',
		    id: "okbutton",
		    cssClass: 'button  btn-lg',
                    action: function(dialogRef){
			dialogRef.close();
                    }
            }]});
};

function showGoodAnswer(){
    var $textAndPic = $('<div id="dialog-body"></div>');
        $textAndPic.append("<h2>Odličan odgovor! Ne govorite priljateljima ... ne kvarite zabavu </h2><br />");
        $textAndPic.append('<%= image_tag "mojamarta.png", :id => "dlg-pic" %>');
        BootstrapDialog.show({
	    title: 'Bravo!!',
	    message: $textAndPic,
            onshown: function(dialogRef){
		    $('#okbutton').focus();
		    $("#okbutton").keyup(function(event){
			if(event.keyCode == 13){
			    $("#okbutton").click();
			}
		    });
		  },  
	    cssClass: 'pitdlg',
		buttons: [{
                    label: 'OK',
		    id: "okbutton",
		    cssClass: 'button  btn-lg',
                    action: function(dialogRef){
			dialogRef.close();
                    }
            }]});
};

       
function showPitanje(num){
    $.ajax({
	url: '/pitanjas/' + num,
	data: { pitanje: num },
	type: 'get'}).
	done( function(data) {
	    var $textAndPic = $('<div id="dialog-body"></div>');
	    $textAndPic.append("<h2>" +data.pitanje+ '</h2><br />');
	    $textAndPic.append('<%= image_tag "mojamarta.png", :id => "dlg-pic" %>');
	    $textAndPic.append('<input id="odg" class="pitanjecl form-control" type="text" name="odgovor">');
	    BootstrapDialog.show({
		title: 'Zagonetka',
		onshown: function(dialogRef){
		    $('#odg').focus();
		    $("#odg").keyup(function(event){
			if(event.keyCode == 13){
			    $("#okbutton").click();
			}
		    });
		  },  
		message: $textAndPic,
		cssClass: 'pitdlg',
		buttons: [{
                    label: 'OK',
		    id: "okbutton",
		    cssClass: 'button  btn-lg',
                    action: function(dialogRef){
			$.ajax({
			    url:'/odgovor',
			    type: 'GET',
			    data: { odgovor: $('#odg').val(),
				    pitanje: num}
			} ).
			    done( function(data){
			      $('#poruka').text(data.poruka);
			      if (data.pitanje == 1 && data.rez === 'ok'){
				  $('#pametni1').text(data.tacno);
				  $('#marta').hide();
				  
			      }
			      if (data.pitanje == 2 && data.rez === 'ok'){
				  $('#pametni2').text(data.tacno);
				  $('#klara').hide();
			      }
				
			      if (data.rez === 'not ok'){
				  showBadAnswer();
			      } else {
				  showGoodAnswer();
			      }
				  
		    });
                    dialogRef.close();
                    }
            }]
        });
});
        
};

  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 0
    });
    $('#marta').click(function(){
	showPitanje(1);
	});
    $('#klara').click(function(){
	showPitanje(2);
	});

      $(document).ajaxSend(function(event, request, settings) {
    if ( settings.type == 'POST' ||  settings.type == 'post') {
        settings.data = (settings.data ? settings.data + "&" : "")
            + "authenticity_token=" + encodeURIComponent( window._token );
    }
      });

  });

   
